@inherits ContainerBase

<MudGrid Spacing="1">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</MudGrid>

@*<div class="container">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>*@